@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(13, 19, 24);
    color: white;
}

.container {
    width: 1290px;
    margin: auto
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav div ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav div ul li {
    margin: 0 15px;
    list-style: none;
}

nav div ul li a {
    color: white;
    text-decoration: none;
}

nav div ul li a:hover {
    text-decoration: underline;
}

button {
    padding: 7px 13px;
    margin-left: 15px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    border: white solid 3px;
    transition: all 250ms;
}

button:hover {
    background-color: white;
    color: black;
    transition: all 250ms;
}

.shortSummary {
    font-size: 20px;
}

header {
    margin: 65px 0px;
    text-align: center;
}

main div {
    margin: 100px 0;
}

.list {
    margin: 15px;
}

 a{
    color: aqua
}

.card {
    text-align: center;
}

.card img {
    width: 250px;
    border-radius: 50%;
    height: 250px;   
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex div {
    flex: 1
}

.flex-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-img img {
    width: 500px
}

#climateChange img {
    width: 100%
}